In [1]:
"""
NOTE: units for "e_Mass" in "t1_mrf.txt" should be changed to "solMass"
      for compatibility with astropy.Table.read "ascii.cds" format

"""

'\nNOTE: units for "e_Mass" in "t1_mrf.txt" should be changed to "solMass"\n      for compatibility with astropy.Table.read "ascii.cds" format\n\n'

======================== Import Packages ==========================

In [2]:
import sys, pdb, glob
import numpy as np
import pandas as pd
from astropy.table import Table
from IPython.display import display

========================== Code ==========================

In [3]:
### READ IN FULL TABLE FROM PAPER SUPPLEMENTAL MATERIAL
T = Table.read('input/apjaa2846t1_mrf.txt', format='ascii.cds')
df = T.to_pandas()

In [4]:
### DISPLAY FIRST 10 ROWS AS PANDAS DATAFRAME
display(df.head(10))

                Name  Dis SpType  Mass  e_Mass   Ref
0              Sz 65  150   K7.0  0.76    0.18     2
1              Sz 66  150   M3.0  0.31    0.04     1
2  J15430131-3409153  150    NaN   NaN     NaN  <NA>
3  J15430227-3444059  150    NaN   NaN     NaN  <NA>
4  J15445789-3423392  150   M5.0  0.12    0.03     1
5  J15450634-3417378  150    NaN   NaN     NaN  <NA>
6  J15450887-3417333  150   M5.5  0.14    0.03     2
7              Sz 68  150   K2.0  2.13    0.34     2
8              Sz 69  150   M4.5  0.19    0.03     1
9              Sz 71  150   M1.5  0.42    0.11     1

In [5]:
### WRITE HEADER INFO
f = open('output/table_01.tex', 'w')
f.write(r'\capstartfalse'                                     + ' \n')
f.write(r'\begin{deluxetable}{lrrrr}'                         + ' \n')
f.write(r'\tabletypesize{\footnotesize}'                      + ' \n')
f.write(r'\centering'                                         + ' \n')
f.write(r'\tablewidth{240pt}'                                 + ' \n')
f.write(r'\tablecaption{Stellar Properties \label{tab-star}}' + ' \n')
f.write(r'\tablecolumns{5} '                                  + ' \n')
f.write(r'\tablehead{'                                        + ' \n')
f.write(r' \colhead{Source}'                                  + ' \n')
f.write(r'&\colhead{$d$ (pc)}'                                + ' \n')
f.write(r'&\colhead{SpT}'                                     + ' \n')
f.write(r'&\colhead{$M_{\ast}$/$M_{\odot}$}'                  + ' \n')
f.write(r'&\colhead{Ref}'                                     + ' \n')
f.write(r'}'                                                  + ' \n')
f.write(r'\startdata'                                         + ' \n')

12

In [6]:
### WRITE FIRST 10 LINES
lim = 10
for i, val in enumerate(np.zeros(lim)):

    source = T['Name'][i]
    dist = str(T['Dis'][i])

    if np.ma.is_masked(T['Ref'][i]) is True:
        ref = '...'
    else:
        ref = str(T['Ref'][i])

    if np.ma.is_masked(T['SpType'][i]) is True:
        spt = '...'
    else:
        spt = T['SpType'][i]

    if np.ma.is_masked(T['Mass'][i]) is True:
        mstar = '...'
    else:
        mstar  = str(T['Mass'][i]) + r' $\pm$ ' + str(T['e_Mass'][i])

    ### END OF LINE
    if (i < lim - 1):
        end = r' \\' + '\n'
    else:
        end = '\n'

    f.write(source + ' & ' + dist + ' & ' + spt + ' & ' + mstar + ' & ' + ref + end)

In [7]:
### WRITE FOOTER INFO
f.write(r'\enddata' + ' \n')
f.write(r'\tablenotetext{}{References:' +
        r' (1) \cite{2014A&A...561A...2A},' +
        r' (2) Alcal\'{a} et al. (in prep),' +
        r' (3) \cite{2013MNRAS.429.1001A},' +
        r' (4) \cite{2011MNRAS.418.1194M},' +
        r' (5) \cite{2008ApJS..177..551M},' +
        r' (6) Cleeves et al. (in prep),' +
        r' (7) \cite{2015A&A...578A..23B},' +
        r' (8) \cite{2008hsf2.book..295C}.' +
        r' (This table is available in its entirety in machine-readible form.)}' + ' \n')
f.write(r'\end{deluxetable}' + ' \n')
f.write(r'\capstartfalse' + ' \n')
f.close()