======================== Import Packages ==========================

In [1]:
import sys, pdb, glob
import numpy as np
from astropy.table import Table
import pandas as pd
from IPython.display import display

========================== Code ==========================

In [2]:
### READ IN FULL TABLE FROM PAPER SUPPLEMENTAL MATERIAL
T = Table.read('../input/apjaa2846t2_mrf.txt', format='ascii.cds')
df = T.to_pandas()

In [3]:
### DISPLAY FIRST 10 ROWS AS PANDAS DATAFRAME
display(df.head(10))

,Name,RAh,RAm,RAs,DE-,DEd,DEm,DEs,FCont,e_FCont,rms,a,e_a,PosAng,e_PosAng,i,e_i,MDust,e_MDust
0,Sz 65,15,39,27.75,-,34,46,17.56,64.49,0.32,0.30,0.171,0.002,0,57,0,0,15.1559,0.0752
1,Sz 66,15,39,28.26,-,34,46,18.44,14.78,0.29,0.27,NaN,NaN,<NA>,<NA>,<NA>,<NA>,3.4735,0.0682
2,J15430131-3409153,15,43,1.29,-,34,9,15.40,0.01,0.31,0.39,NaN,NaN,<NA>,<NA>,<NA>,<NA>,0.0024,0.0729
3,J15430227-3444059,15,43,2.29,-,34,44,6.20,0.22,0.27,0.34,NaN,NaN,<NA>,<NA>,<NA>,<NA>,0.0517,0.0635
4,J15445789-3423392,15,44,57.90,-,34,23,39.50,-0.05,0.18,0.24,NaN,NaN,<NA>,<NA>,<NA>,<NA>,-0.0118,0.0423
5,J15450634-3417378,15,45,6.32,-,34,17,38.28,15.00,0.40,0.34,0.096,0.017,24,39,43,28,3.5252,0.0940
6,J15450887-3417333,15,45,8.85,-,34,17,33.81,46.27,0.50,0.40,0.173,0.005,-16,5,45,4,10.8740,0.1175
7,Sz 68,15,45,12.84,-,34,17,30.98,150.37,0.46,0.61,0.159,0.002,-5,3,34,2,35.3387,0.1081
8,Sz 69,15,45,17.39,-,34,18,28.66,16.96,0.28,0.24,0.092,0.012,-39,11,69,21,3.9858,0.0658
9,Sz 71,15,46,44.71,-,34,30,36.05,166.04,0.63,0.37,0.558,0.003,42,1,40,0,39.0213,0.1481

In [4]:
### WRITE HEADER INFO
f = open('../output/table_02.tex', 'w')
f.write(r'\capstartfalse'                                  + ' \n')
f.write(r'\begin{deluxetable*}{lrrrccccr}'                 + ' \n')
f.write(r'\tabletypesize{\footnotesize}'                   + ' \n')
f.write(r'\centering'                                      + ' \n')
f.write(r'\tablewidth{500pt}'                              + ' \n')
f.write(r'\tablecaption{$890~\mu$m Continuum Properties \label{tab-cont}}' + ' \n')
f.write(r'\tablecolumns{9} '                               + ' \n')
f.write(r'\tablehead{'                                     + ' \n')
f.write(r' \colhead{Source}'                               + ' \n')
f.write(r'&\colhead{RA$_{\rm J2000}$}'                     + ' \n')
f.write(r'&\colhead{Dec$_{\rm J2000}$}'                    + ' \n')
f.write(r'&\colhead{$F_{\rm cont}$}'                       + ' \n')
f.write(r'&\colhead{rms}'                                  + ' \n')
f.write(r'&\colhead{$a$}'                                  + ' \n')
f.write(r'&\colhead{$i$}'                                  + ' \n')
f.write(r'&\colhead{PA}'                                   + ' \n')
f.write(r'&\colhead{$M_{\rm dust}$} \\'                    + ' \n')
f.write(r' \colhead{}'                                     + ' \n')
f.write(r'&\colhead{}'                                     + ' \n')
f.write(r'&\colhead{}'                                     + ' \n')
f.write(r'&\colhead{(mJy)}'                                + ' \n')
f.write(r'&\colhead{(mJy beam$^{-1}$)}'                    + ' \n')
f.write(r'&\colhead{arcsec}'                               + ' \n')
f.write(r'&\colhead{deg}'                                  + ' \n')
f.write(r'&\colhead{(deg)}'                                + ' \n')
f.write(r'&\colhead{($M_{\oplus}$)}'                       + ' \n')
f.write(r'}'                                               + ' \n')
f.write(r'\startdata'                                      + ' \n')

12

In [5]:
### WRITE FIRST 10 LINES
lim = 10
for i, val in enumerate(np.zeros(lim)):

    source = T['Name'][i]

    de = str(T['DE-'][i]) + "{0:02}".format(T['DEd'][i]) + ':' + "{0:02}".format(T['DEm'][i]) + ':' + "{0:05.2f}".format(T['DEs'][i])
    ra = "{0:02}".format(T['RAh'][i]) + ':' + "{0:02}".format(T['RAm'][i]) + ':' + "{0:05.2f}".format(T['RAs'][i])

    flx = "{0:.2f}".format(T['FCont'][i]) + r' $\pm$ ' + "{0:.2f}".format(T['e_FCont'][i])
    rms = "{0:.2f}".format(T['rms'][i])
    mdust = str(T['MDust'][i]) + r' $\pm$ ' + str(T['e_MDust'][i])

    if np.ma.is_masked(T['a'][i]) is True:
        bmaj = '...'
    else:
        bmaj  = str(T['a'][i]) + r' $\pm$ ' + str(T['e_a'][i])

    if np.ma.is_masked(T['i'][i]) is True:
        incl = '...'
    elif np.ma.is_masked(T['e_i'][i]) is True:
        incl = str(T['i'][i])
    else:
        incl  = str(T['i'][i]) + r' $\pm$ ' + str(T['e_i'][i])

    if np.ma.is_masked(T['PosAng'][i]) is True:
        pang = '...'
    elif np.ma.is_masked(T['e_PosAng'][i]) is True:
        pang = str(T['PosAng'][i])
    else:
        pang  = str(T['PosAng'][i]) + r' $\pm$ ' + str(T['e_PosAng'][i])

    ### END OF LINE
    if (i < lim - 1):
        end = r' \\' + '\n'
    else:
        end = '\n'

    f.write(source + ' & ' + ra + ' & ' + de + ' & ' + flx + ' & ' + rms + ' & ' + 
            bmaj + ' & ' + incl + ' & ' + pang + ' & ' + mdust + end)

In [6]:
f.write(r'\enddata' + ' \n')
f.write(r'\tablenotetext{}{(This table is available in its entirety in machine-readible form.)}' + ' \n')
f.write(r'\end{deluxetable*}' + ' \n')
f.write(r'\capstartfalse' + ' \n')
f.close()