======================== Import Packages ==========================

In [1]:
import sys, pdb, glob
import numpy as np
import pandas as pd
import csv
from IPython.display import display

========================== Code ==========================

In [2]:
### READ IN TABLE FROM PAPER SUPPLEMENTAL MATERIAL
with open('../input/apjaa2846t4_ascii.txt', newline='') as f:
    name, ra, de, cont, gas13, gas18 = [],[],[],[],[],[]
    reader = csv.reader(f, delimiter='\t')
    for i, row in enumerate(reader):            
            if i >= 6:
                name.append(row[0])
                ra.append(row[1])
                de.append(row[2])
                cont.append(row[3])
                gas13.append(row[4])
                gas18.append(row[5])

In [3]:
# Create a Pandas DataFrame
data = {'Source': name, 'RA': ra, 'Dec': de, 'F_cont': cont, 'F_13CO': gas13, 'F_C18O': gas18}
df = pd.DataFrame(data)

In [4]:
# Display the Pandas DataFrame
display(df)

,Source,RA,Dec,F_cont,F_13CO,F_C18O
0,Sz78,15:53:41.18,-39:00:37.10,0.00 +or- 0.28,$\lt 180$,$\lt 207$
1,Sz79,15:53:42.68,-38:08:10.40,-0.55 +or- 0.27,$\lt 168$,$\lt 198$
2,J15594528-4154572,15:59:45.28,-41:54:57.20,0.12 +or- 0.19,$\lt 105$,$\lt 120$
3,J16000742-4149484,16:00:07.43,-41:49:48.90,-0.10 +or- 0.18,$\lt 102$,$\lt 120$
4,J16070863-3947219,16:07:08.64,-39:47:22.70,0.38 +or- 0.30,$\lt 189$,$\lt 219$
5,J16080618-3912225,16:08:06.17,-39:12:22.50,0.34 +or- 0.23,$\lt 102$,$\lt 120$
6,J16114865-3817580,16:11:48.67,-38:17:58.30,0.12 +or- 0.30,$\lt 189$,$\lt 234$
7,J16122269-3713276,16:12:22.73,-37:13:27.60,-0.04 +or- 0.59,$\lt 171$,$\lt 204$

In [5]:
### WRITE HEADER INFO
f = open('../output/table_04.tex', 'w')
f.write(r'\begin{table}[!htb]'                        + ' \n')
f.write(r'\caption{Rejected Targets}'                 + ' \n')
f.write(r'\label{tab-rejected}'                       + ' \n')
f.write(r'\centering  '                               + ' \n')
f.write(r'\begin{tabular}{lccrcc}'                    + ' \n')
f.write(r'\hline\hline'                               + ' \n')
f.write(r'Source & RA$_{\rm J2000}$ & Dec$_{\rm J2000}$ & $F_{\rm cont}$ & $F_{\rm 13CO}$} & $F_{\rm C18O}$ \\' + ' \n')
f.write(r' &  &  & (mJy) & (mJy~km~s$^{-1}$) & (mJy~km~s$^{-1}$) \\' + ' \n')
f.write(r'\hline' + ' \n')

8

In [6]:
### WRITE DATA
for i, row in df.iterrows():
    end = r' \\' + '\n'
    f.write(row['Source'] + ' & ' + row['RA'] + ' & ' + row['Dec'] + ' & ' + row['F_cont'].replace('+or-', '$\pm$') + ' & ' +
            row['F_13CO'].replace('\\lt', '<') + ' & ' + row['F_C18O'].replace('\\lt', '<') + end)

In [7]:
f.write(r'\hline'         + ' \n')
f.write(r'\end{tabular}'  + ' \n')
f.write(r'\end{table}'   + ' \n')
f.close()